head
{
	padding: 0;
	margin: 0;
}
body {
    background-image: url(images/seamlessstars.jpg);
    background-repeat: repeat;
    background-position: center;
    padding: 0;
	margin: 0;
	font-family: "Montserrat";
}

header
{
	position: fixed;
	width: 100%;
	height: 16%;
	background-color: #282828;
}

.logo-container
{
	width: 30%;
	height: 90%;
	float: left;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.logo-container img
{
	height: 100%;
}

.navigation-links
{
	display: flex;
	width: 480px;
	height: 100%;
	float: right;
	padding-top: 30px;
	padding-bottom: 20px;
}

.navigation-links a
{
  	float: left;
  	color: #ffffff;
 	padding: 20px;
  	text-decoration: none;
  	font-size: 18px;
  	text-align: center;
}

.navigation-links a:hover {
  color: #93ece9;
  border-bottom: 1px solid #93ece9;
  height: 20%
}
section .visualheader
{
	text-align: center;
	align-items: center;
}
section .about
{
	text-align: center;
	align-items: center;
}
.about-section h1
{
	color: #93ece9;
	font-size: 35px;
	text-align: center;
	align-items: center;
}
.about-section h2
{
	color: #93ece9;
	font-size: 24px;
	text-align: center;
	padding: 50px;
	margin-left: 100px;
	margin-right: 100px;
}
.about-section p
{
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 35px;
	margin-left: 200px;
	margin-right: 200px;
}
.tag
{
	text-align: center;
}
.tag h1
{
	color: white;
	font-size: 80px;
}
section .content
{
	position: relative;
	text-align: center;
}
.wrapper
{
	text-align: center;
}
.wrapper h1
{
	color: #93ece9;
	font-size: 35px;
	text-align: center;
}
.events-table
{
	width: 750px;
	background-color: none;
	border-bottom-style: none;
	color: white;
	text-align: left;
}
.events-table th
{
	border-bottom-style: none;
	padding: 10px;
	font-size: 25px;
	font-weight:bold;
	text-align: center;
}
.events-table td
{
	padding: 15px;
	font-size: 20px;
	font-weight:bold;
	border-bottom-style: none;
	justify-content: space-between;
}
.events-table img
{
	width:250px;
	height:150px;
	float: left;
	border-radius: 5%;
	margin-right: 20px; 
}
.events-table p
{
	display: flex;
	font-size: 18px;
	font-weight:normal;
}
.events-table a
{
	font-weight:bold;
	color: #93ece9;
	text-decoration: none;
}
hr.new
{
	border: 1px solid #93ece9;
	width: 1000px;
}
footer
{
	position: relative;
	bottom: 0;
	text-align: center;
}
.logo-end img
{
	width: 100px;
	height: 100px;
}

.copyright p
{
	margin: 0;
	padding: 0;
	line-height: 60px;
	color: white;
	width: 100%;
	height: 60px;
	font-size: 16px;
}
.text-container
{
	text-align: center;
	align-items: center;
}
.text-container img
{
	width: 750px;
}
.text-container h1
{
	color: white;
	font-size: 40px;
}
hr.new1
{
	border: 1px solid white;
	width: 1000px;
}
.short-description
{
	color: white;
	width: 750px;
	justify-content: space-between;
	display: inline-block;
}
.long-description
{
	width: 750px;
	justify-content: space-between;
	color: white;
	display: inline-block;
}
.innertext
{
	display: inline-flex;
	color: white;
	justify-content: space-between;
	width: 750px;
}
.location
{
	border-left-style: solid;
	border-left-color:#93ece9;
	font-size: 14px;
	padding: 15px;
}
.age
{
	border-left-style: solid;
	border-left-color:#93ece9;
	font-size: 14px;
	padding: 15px;
}
.duration
{
	border-left-style: solid;
	border-left-color:#93ece9;
	font-size: 14px;
	padding: 15px;
}







